# Main data analysis -- numbers are inconsistent
Need to convert currencies and remove duplicates

In [103]:
import pandas as pd

In [123]:
ukraine = pd.read_excel('Ukraine_Support_Tracker_Release_13.xlsx', sheet_name='Bilateral Assistance, MAIN DATA')

In [124]:
columns = ['ID', 'Countries', 'Explanation', 'Monetary Value as Given by Source']
# Dataframe has duplicate values for certain aid descriptions, dropping by explanation
aggregate = ukraine[columns]
aggregate = aggregate.drop_duplicates(subset='Explanation')
aggregate = aggregate.drop(columns=['Explanation'])

In [125]:
# Most string values given in dataframe are NaN or 'Not given'
# Using 0 for aggregate and other calculations
def convert(value):
    if type(value) == str:
        return 0
    return value

aggregate['Monetary Value as Given by Source'] = aggregate['Monetary Value as Given by Source'].apply(convert)
aggregate = aggregate.dropna()

In [126]:
agg_sum = aggregate.groupby('Countries')['Monetary Value as Given by Source'].sum().reset_index()

In [127]:
# Converting to value in billions
def billion(int):
    value = 1000000000
    return int / value

agg_sum['Monetary Value as Given by Source'] = agg_sum['Monetary Value as Given by Source'].apply(billion)
# Use for data viz 1

In [128]:
columns = ['ID', 'Countries', 'Explanation', 'Type of Aid General']
type_of_aid = ukraine[columns]
type_of_aid = type_of_aid.drop_duplicates(subset='Explanation')
type_of_aid = type_of_aid.drop(columns=['Explanation'])
type_of_aid['Type of Aid General'].value_counts()
# Data viz 2

Type of Aid General
Military        471
Humanitarian    406
Financial       127
Name: count, dtype: int64

In [129]:
us_aid_dist = type_of_aid[type_of_aid['Countries'] == 'United States']
us_aid_dist['Type of Aid General'].value_counts()
# Data viz 2b

Type of Aid General
Military        65
Humanitarian     7
Financial        4
Name: count, dtype: int64

In [130]:
columns = ['ID', 'Countries', 'Announcement Date', 'Explanation', 'Monetary Value as Given by Source']
us_aid = ukraine[columns]
us_aid = us_aid[us_aid['Countries'] == 'United States']
us_aid['Announcement Date'] = pd.to_datetime(us_aid['Announcement Date'])
us_aid = us_aid.drop_duplicates(subset='Explanation') 
us_aid = us_aid.drop(columns=['Explanation'])

# Data viz 3

In [131]:
# Possible: take fiscal year allocations and compare to total budgets for year

In [132]:
agg_sum.to_csv('agg_sum.csv', index=False)
type_of_aid.to_csv('type_of_aid.csv', index=False)
us_aid_dist.to_csv('us_aid_dist.csv', index=False)
us_aid.to_csv('us_aid.csv', index=False)

In [136]:
columns = ['ID', 'Countries', 'Announcement Date', 'Explanation', 'Monetary Value as Given by Source']
norway = ukraine[columns]
norway = norway[norway['Countries'] == 'Norway']
norway = norway.drop_duplicates(subset='Explanation') 
norway = norway.drop(columns=['Explanation'])

print(norway)
# Data viz 3

        ID Countries    Announcement Date Monetary Value as Given by Source
1202  NOM1    Norway     until 12/14/2022                         990000000
1203  NOM1    Norway  2022-02-28 00:00:00                         990000000
1226  NOM2    Norway      until 4/27/2022                         400000000
1227  NOM3    Norway  2022-09-30 00:00:00                        3000000000
1228  NOM3    Norway  2022-10-02 00:00:00                          30666666
1229  NOM3    Norway  2022-11-25 00:00:00                         150000000
1230  NOM3    Norway  2022-12-01 00:00:00                         280000000
1232  NOM4    Norway  2023-02-16 00:00:00                        7500000000
1233  NOM4    Norway  2023-02-14 00:00:00                        7500000000
1235  NOM4    Norway  2023-03-10 00:00:00                        7500000000
1236  NOM4    Norway  2023-04-03 00:00:00                        7500000000
1237  NOM4    Norway  2023-05-25 00:00:00                        7500000000
1238  NOM4    Norway  2023-05-25 00:00:00                        7500000000
1240  NOM4    Norway  2023-06-15 00:00:00                        7500000000
1241  NOM4    Norway  2023-06-15 00:00:00                        7500000000
1242  NOM5    Norway  2023-02-16 00:00:00                        7500000000
1246  NOH1    Norway      until 4/27/2022                         265000000
1247  NOH2    Norway      until 4/27/2022                         100000000
1248  NOH3    Norway  2022-06-13 00:00:00                         Not given
1249  NOH4    Norway         until 6/2022                         310000000
1250  NOH5    Norway        until 11/2022                        1100000000
1251  NOH6    Norway  2023-01-19 00:00:00                          40000000
1252  NOH7    Norway  2023-02-20 00:00:00                         Not given
1253  NOH8    Norway  2023-02-24 00:00:00                         400000000
1254  NOH9    Norway  2023-06-12 00:00:00                         150000000
1255  NOF1    Norway      until 5/11/2022                         300000000
1256  NOF2    Norway  2022-05-12 00:00:00                          50000000
1257  NOF3    Norway  2022-10-05 00:00:00                        2000000000
1258  NOF4    Norway  2022-10-05 00:00:00                        1000000000
1259  NOF5    Norway  2023-02-16 00:00:00                        6910000000
1260  NOF6    Norway  2023-02-16 00:00:00                        7500000000
1261  NOF7    Norway  2023-02-16 00:00:00                        7500000000
1262  NOF8    Norway  2023-02-16 00:00:00                        7500000000
1263  NOF9    Norway  2023-02-16 00:00:00                        7500000000