# Country summary analysis

In [7]:
import pandas as pd

data = pd.read_excel('Ukraine_Support_Tracker_Release_13.xlsx', sheet_name='Country Summary ($)')

data.to_csv('country-summary-usd.csv', index=False)

In [16]:
summary = pd.read_csv('country-summary-usd.csv', index_col=False)

In [19]:
summary.head()

,Country,EU member,Financial commitments,Humanitarian commitments,Military commitments,Total bilateral commitments,GDP (2021),GDP (EUR),Total bilateral commitments.1,Share in EU commitments,Share in EPF commitments,Share in EIB commitments,Share in total EU commitments,Share in total EU commitments.1,Total bilateral and EU assistance,Total bilateral and EU assistance.1,Specific weapons and equipment,Financial commitments with military purpose,Total bilateral commitments (short term),Total bilateral commitments (short term).1
0,Australia,0,0.000000,0.078510,0.462102,0.540612,1552.667363,1404.112284,0.034818,0.000000,0.000000,0.000000,0.000000,0.000000,0.540612,0.034818,0.456244,0.005858,0.540612,0.034818
1,Austria,1,0.707712,0.118672,0.003587,0.829971,480.368404,434.408034,0.172778,2.493637,0.174146,0.064592,2.732375,0.568808,3.562346,0.741586,0.003587,0.000000,0.829971,0.172778
2,Belgium,1,0.019418,0.117148,0.338375,0.474941,594.104178,537.261872,0.079942,2.970528,0.213562,0.130120,3.314211,0.557850,3.789152,0.637792,0.338375,0.000000,0.474941,0.079942
3,Bulgaria,1,0.000000,0.000781,0.281476,0.282257,84.056313,76.014029,0.335795,0.533977,0.026976,0.005124,0.566077,0.673450,0.848334,1.009245,0.281476,0.000000,0.282257,0.335795
4,Canada,0,3.795628,0.392151,1.835048,6.022827,1988.336332,1798.097605,0.302908,0.000000,0.000000,0.000000,0.000000,0.000000,6.022827,0.302908,1.835048,0.000000,5.939868,0.298736

In [34]:
columns = ['Country', 'Total bilateral commitments']
country_total = summary[columns]
country_total.sort_values(by='Total bilateral commitments', ascending=False)
country_total.columns = ['Country', 'Total bilateral commitments ($ billion)']
country_total.head()
# Data viz 1

     Country  Total bilateral commitments ($ billion)
0  Australia                                 0.540612
1    Austria                                 0.829971
2    Belgium                                 0.474941
3   Bulgaria                                 0.282257
4     Canada                                 6.022827

In [32]:
columns = ['Country', 'Financial commitments', 'Humanitarian commitments', 'Military commitments', 'Total bilateral commitments']
country_dist = summary[columns]
country_dist.columns = ['Country', 'Financial commitments ($ billion)', 'Humanitarian commitments ($ billion)', 'Military commitments ($ billion)', 'Total bilateral commitments ($ billion)']
country_dist.head()
# Data viz 2

,Country,Financial commitments ($ billion),Humanitarian commitments ($ billion),Military commitments ($ billion),Total bilateral commitments ($ billion)
0,Australia,0.000000,0.078510,0.462102,0.540612
1,Austria,0.707712,0.118672,0.003587,0.829971
2,Belgium,0.019418,0.117148,0.338375,0.474941
3,Bulgaria,0.000000,0.000781,0.281476,0.282257
4,Canada,3.795628,0.392151,1.835048,6.022827

In [37]:
usa_dist = country_dist[country_dist['Country'] == 'United States']
usa_dist.columns = ['Country', 'Financial commitments ($ billion)', 'Humanitarian commitments ($ billion)', 'Military commitments ($ billion)', 'Total bilateral commitments ($ billion)']
usa_dist.head()
# Data viz 3

,Country,Financial commitments ($ billion),Humanitarian commitments ($ billion),Military commitments ($ billion),Total bilateral commitments ($ billion)
38,United States,26.37,3.910519,46.555,76.835519

In [38]:
columns = ['Country', 'Total bilateral commitments', 'GDP (2021)', 'Total bilateral commitments.1']
gdp_prop = summary[columns]
gdp_prop.columns = ['Country', 'Total bilateral commitments', 'GDP (2021)', 'Total bilateral commitments (% of GDP)']
gdp_prop.head()
# Data viz 4

,Country,Total bilateral commitments,GDP (2021),Total bilateral commitments (% of GDP)
0,Australia,0.540612,1552.667363,0.034818
1,Austria,0.829971,480.368404,0.172778
2,Belgium,0.474941,594.104178,0.079942
3,Bulgaria,0.282257,84.056313,0.335795
4,Canada,6.022827,1988.336332,0.302908

In [39]:
# Exporting to CSVs for use in Tableau
country_total.to_csv('country_total.csv', index=False)
country_dist.to_csv('country_dist.csv', index=False)
usa_dist.to_csv('usa_dist.csv', index=False)
gdp_prop.to_csv('gdp_prop.csv', index=False)